body{
    margin: 0px;
    /* font-family: Arial, sans-serif; */
    font-family: Poppins, sans-serif;
}

.navbar{
    background-color: #103857;
    display: flex;
    width: 100%;
    position: fixed;
   
}
.logo-container{
   

width: 50%;
}
.nav-logo {
    width: 100px;
    margin-left: 51px;
    margin-top: 10px;
}
.nav-link-container{
   
    width: 49%;
    /* vertical-align: bottom; */
}
ul.nav-link-header {
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-weight: bold;
    margin-top: 27px;
}
li.each-link-item {
  
    color: white;
    list-style-type: none;
    font-size: 15px;
    margin-right: 31px;
}
select#services {
        width: 10px;
        background: border-box;
        color: white;
        border: none;
        margin-left: 4px;
        font-size: 13px;
        font-family: "Ubuntu", sans-serif;
    
}
option {
    background: white;
    color: #191817;
}
ul.navbar-nav {
    position: relative;
    left: 43%;
}
.seo-details-banner{
    width: 100%;
    display: flex;
    
}
.seo-details{
    width: 50%;
   
    margin-top: 106px;
    background-image: url(../assests/services-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
    background-position: 20px
}
.banner-details{
    width: 50%;
   
    margin-top: 106px;
}
.banner-image{
    max-width: 100%;
    height: auto
}
.heading {
    font-size: 30px;
    font-weight: 600;
    color: #e8505b;
    margin-top: 1px;
}
.content{
    letter-spacing: .12px;
    line-height: 26px;
    font-weight: 300;
    font-size: large;
    font-family: Poppins, sans-serif;
}
.audit{
    font-size: 19px;
    color: #e8505b;
    font-weight: 800;
}
.title{
    font-size: 19px;
    color: #e8505b;
    font-weight: 700;
}
.title-details{
    letter-spacing: .12px;
    line-height: 26px;
    font-weight: 400;
    font-size: medium;
}
.seo-title{
    padding: 3%;
    margin-top: 1%;
    
}
.motivate-about{
    /* max-width: 78%; */
    margin: 0 auto;
    color: #103857;
    padding: 2%;
    font-size: 25px;
    font-style: italic;
}
.motivate{
    max-width: 78%;
    margin: 0 auto;
    color: #103857;
    padding: 2%;
    font-size: 24px;
    font-style: italic;
    line-height: normal; 
}
.all-services{
    background: #f6f4f4;
    display: flex;
    text-align: center;
    gap: 30px;
    padding: 3% 10%;
}
.all-services1{
    background: #f6f4f4;
    display: flex;
    text-align: center;
    margin-top: -11px;
    margin-left: 248px;
    gap: 55px;
}
.service{
    background: white;
    color: #103857;
    padding: 10px;
    border: solid whitesmoke;
    border-radius: 3px;
    width: 262px;
    text-align: justify;
    box-shadow: 0 2px 3px #d3d3d3;
    margin-bottom: 3%;
    transition: all .25s ease-in;
    font-size: 19px;
}
section.link-services {
    background: #f6f4f4;
    padding: 3%;
}
.all-container{
    width: 100%;
    display: flex;
    background-color: #103857;
    color: white;
}
p.about, .why, .blogs {
    margin: 0px;
    padding: 7px;
    position: relative;
    left: 38px;
}
a {
    text-decoration: none;
    color: white;
}
.links-containers{
    width: 15%;
    
    align-content: center;
}
.link-services-details{
    width: 20%;
}

h4.services {
    font-size: 20px;
}
p.link {
    /* padding: 0px; */
    /* margin: 7px; */
    font-size: 14px;
}
.contact-details{
    width: 23%;
}
h4.contact {
    font-size: larger;
}
p.details {
    font-size: 14px;
}

img.social-images {
    width: 20px;
}
.google-map{
    width: 20%;
    margin-right: 20px;
}
.map{
    width: 268px;
    height: 189px;
    margin-top: 26px
}
.ending {
    text-align: center;
    background: #103857;
    color: white;
    margin-top: -16px;
    padding-top: 14px;
}
@media only screen and (max-width:768px){
    /* body{
        background-color: red;
    } */
    .navbar {
        margin-top: -106px;
        position: fixed;
        display: flex;

    }
    .logo-container{
        width: 20px;
    }
    .nav-link-container{
        width: 76%;
        margin-left: 165px;
    }
    ul.nav-link-header {
        display: flex;
        /* flex-wrap: wrap; */
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-weight: bold;
        margin-top: 23px;
    }
    li.each-link-item {
        
        margin-right: 17px;
       
    }
    .seo-details-banner{
        display: block;
    }
    .seo-details{
        width: 90%;
    }
    .content {
        
        padding-left: 15px;
        font-size: medium;
    }
    .heading {
        padding-left: 15px;
    }
    .audit {
        font-weight: 800;
        padding-left: 16px;
    }
    .banner-image {
        max-width: 78%;
        /* height: auto; */
        margin-left: 104px;
    }
    .banner-details {
        width: 93%;
        margin-top: 4px;
    }
    .title-details {
        
        font-weight: 300;
        
    }
    .motivate-about {
        max-width: 90%;
    }
    .motivate {
       
        font-size: 18px;
    
}
.all-services{
    display: inline;
}
.all-services1{
    display: inline;
}
.service{
    width: 80%;
    margin-left: 41px;
}
p.about, .why, .blogs {
    left: 16px;
}
img.social-images {
    width: 18px;
}
.map {
    width: 235px;
    height: 176px;
}
}
@media only screen and (max-width:576px){
    /* body{
        background-color: red;
    } */
    .nav-link-container {
        width: 86%;
        margin-left: 60px;
    }
    .nav-logo{
        
            margin-left: 2px;
            margin-top: 10px;
            width: 85px;
        
    }
    li.each-link-item{
        margin-right: 13px;
        font-size: smaller;
    }
    .heading {
        font-weight: 500;
    }
    .content{
        font-size: 16px;
    }
    .banner-image {
        margin-left: 47px;
    }
    .title-details {
        font-size: 16px;
    }
    .motivate {
        font-size: 16px;
    }
    .all-container {
        
        flex-wrap: wrap;
    }
    .links-containers{
        width: 25%;
    }
    .link-services{
       
        margin-left: 0px;
    
    }
    .contact-details{
        width: 26%;
        margin-left: 48px;
    }
    p.details {
        font-size: 13px;
    }
    img.social-images {
        width: 16px;
    }
    .google-map {
        width: 0%;
        margin-left: 120px;
    }
    .map {
        width: 214px;
        height: 173px;
    }
    .ending {
        margin-top: 0px;
    }
}
@media only screen and (max-width:480px){
    .nav-logo {
        margin-left: 0px;
        margin-top: 0px;
        width: 72px;
    }
    .logo-container {
        width: 10px;
    }
    .nav-link-container {
        
        width: 89%;
        margin-left: 43px;
        
    }
    li.each-link-item {
        margin-right: 6px;
    }
    .banner-image {
        margin-left: 64px;
    }
    .heading {
        font-weight: 400;
    }
    .content {
        font-size: 15px;
    }
    .title-details {
        font-size: 15px;
    }
    .title-details {
        font-weight: 400;
    }
    .motivate {
        font-size: 16px;
    }
    .links-containers {
        width: 37%;
    }
    p.about, .why, .blogs {
        left: 46px;
    }
    .link-services-details {
        width: 32%;
        margin-left: 96px;
    }
    .contact-details {
        width: 31%;
        margin-left: 46px;
    }
    img.social-images {
        width: 12px;
    }
    .google-map {
        width: 0%;
        margin-left: 0px;
    }
    .map {
        width: 181px;
        height: 161px;
        margin-top: 43px;
        margin-left: 35px;
    }
    
    p.ending-point {
        font-size: 13px;
    }
}
@media only screen and (max-width:320px){
    .nav-logo {
        width: 53px;
        margin-top: 8px;
    }
    .nav-link-container {
        width: 92%;
        margin-left: 12px;
    }
    ul.nav-link-header {
        gap: 4px;
    }

    li.each-link-item {
        margin-right: 0px;
        font-size: 10px;
    }
    select#services {
        font-size: 9px;
    }
    .heading {
        font-weight: 400;
        font-size: 19px;
    }
    .banner-details {
        margin-left: 24px;
    }
    .banner-image {
        margin-left: 0px;
    }

    .content {
        font-size: 15px;
        font-weight: 400;
    }
    .title {
        font-weight: 600;
        font-size: 15px;
    }
    .title-details {
        font-size: 14px;
        font-weight: 400;
    }
    .motivate {
        font-size: 14px;
    }
    .service {
        margin-left: 15px;
    }
    .link-services-details {
        margin-left: 82px;
    }
   
    .contact-details {
        width: 66%;
        margin-left: 76px;
    }

    .google-map {
        margin-left: 14px;
    }
    .map {
        width: 192px;
        height: 156px;
    }
    p.ending-point {
        font-size: 10px;
    }
}
